* {
  margin: 0;
  padding: 0;
}

#grid-conatiner {
  display: grid;
}

#header{
  width: 100%; 
  height: 10vh; 
  display: grid; 
  
 
}

#menu-header{
  width: 100%; 
  height: 10vh; 
  display: grid; 
  grid-template-columns: 50% 50%;
 
}
a{
  font-size: xx-large;
  text-align: center;
  
}
h1{
  font-size: x-large;
  text-align: center;
}

#menu-content{
  width: 90%;
  height: 70vh;
  display: grid;

}
