div p {
    background-color: yellow;
  }
 
  div > a {
    font-size: medium;
  }

  div + p {
    background-color: rgb(50, 21, 97), 0, 255);
  }

  .Story {
      font-size: medium;
  }

  a:link {
    color: #FF0000;
  }

  a:visited {
     font-family: cursive;
  }

  a:hover {
    color: #FF00FF;
  }

  a:active {
     font-size: small;
  }
